# Data Manipulation

Adding/Removing Columns

Data Aggregation

Grouping and Pivot Tables

In [2]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [3]:
df['City'] = ['New York', 'Los Angeles', 'Chicago']

In [4]:
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [5]:
df = df.drop('City', axis=1)

In [6]:
print(df)

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

# Data Aggregation

In [14]:
import pandas as pd
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 30, 35]}
df = pd.DataFrame(data)
df1 = df.groupby('Category')

In [18]:
x1 = df1['Value'].sum()
x2 = df1['Value'].mean()
x4 = df1['Value'].median()
x5 = df1['Value'].max()
x6 = df1['Value'].count()
x7 = df1['Value'].min()

print("------------sum----------------")
print(x1)
print("------------mean----------------")
print(x2)
print("------------median----------------")
print(x4)
print("------------max----------------")
print(x5)
print("------------count----------------")
print(x6)
print("------------min----------------")
print(x7)

------------sum----------------
Category
A    55
B    80
Name: Value, dtype: int64
------------mean----------------
Category
A    18.333333
B    26.666667
Name: Value, dtype: float64
------------median----------------
Category
A    15.0
B    25.0
Name: Value, dtype: float64
------------max----------------
Category
A    30
B    35
Name: Value, dtype: int64
------------count----------------
Category
A    3
B    3
Name: Value, dtype: int64
------------min----------------
Category
A    10
B    20
Name: Value, dtype: int64

In [19]:
import pandas as pd
data = {'Category': ['A', 'B', 'A', 'B', 'A', 'B'],
        'Value': [10, 20, 15, 25, 30, 35]}
df = pd.DataFrame(data)
df1 = df.groupby('Category')
y1 = df1['Value'].sum()

In [23]:
pivot_table = df.pivot_table(index='Category', values='Value', aggfunc='sum')
print(pivot_table)

          Value
Category
A            55
B            80

# Basic DataFrame Operations:

Selecting Columns

Filtering Data

Sorting Data

Descriptive Statistics

In [24]:
#selecting a column
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 35],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)
df1 = df['Name']
df2 = df[['Name', 'Age']]

print(df1)
print("---------**---------")
print(df2)

0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object
---------**---------
      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35

In [26]:
# Filter rows
x1 = df[df['Age'] > 30]
y1 = df[(df['Age'] > 25) & (df['City'] == 'New York')]
print(x1)
print("-------****--------")
print(y1)

      Name  Age     City
2  Charlie   35  Chicago
-------****--------
Empty DataFrame
Columns: [Name, Age, City]
Index: []

In [28]:
#Sorting Data
Q1 = df.sort_values(by='Age')
Q2 = df.sort_values(by=['City', 'Age'], ascending=[True, False])

print(Q1)
print("------***-------")
print(Q2)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
------***-------
      Name  Age         City
2  Charlie   35      Chicago
1      Bob   30  Los Angeles
0    Alice   25     New York